/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #725075e8;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #cac6c6;
  text-shadow: antiquewhite; /* Prevent inheritance from `body` */
  background-color: #b507ffe1;
  border: .05rem solid #56ece9ec;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-image: url("http://www.tokkoro.com/picsup/2958179-abstract-geometry-blue___abstract-wallpapers.jpg");
}

body {
  display: -ms-flexbox;
  display: flex;
  color: rgb(35, 2, 66);
  text-shadow: 0 .05rem .1rem rgba(249, 2, 220, 0.5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.cover-container {
  max-width: 40rem;
}


/*
 * Header
 */


.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: aquamarine;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}


.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (max-width: 980px) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: left;
  }
@media (max-width: 768px) {
    .masthead-brand {
      float: left;
    }
    .nav-masthead {
      float: left;
    }
@media (max-width: 640px) {
      .masthead-brand {
        float: left;
      }
      .nav-masthead {
        float: left;
      }    
}}}


/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 900;
}


/*
 * Footer
 */
.mastfoot {
  color: rgba(255,255,255,.5);
}
